*
  box-sizing: border-box
  
body 
  font-family: "Source Sans 3", sans-serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal
  font-size: 15px
  line-height: 24px
  color: #272727

img
  max-width: 100%

a
  text-decoration: none  

ul
  list-style: none

.container
  max-width: 1200px
  padding: 0 15px
  margin: 0 auto

.header
  background-image: url(../images/header-background.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
  background-color: #0DA5D0
  padding-top: 30px
  min-height: 793px
  margin-bottom: 55px

.header__top
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 141px

.logo
  max-width: 164px
  max-height: 37px

.header__nav-list
  display: flex
  gap: 50px
  margin: 0
  font-weight: 600

.header__nav-link,
  color: rgba(255, 255, 255, 0.5)
  text-transform: uppercase
  transition: all 0.3s

.header__nav-link:hover
    color: rgba(255, 255, 255, 1) 

.authorization__login,
.authorization__sign-up
  color: #fff
  text-transform: uppercase
  padding: 10px 44px
  transition: all 0.3s
  font-weight: 600


.authorization__login:hover,
.authorization__sign-up:hover
  background-color: #fff
  color: #250F8A
  border-radius: 20px

.header__cover
  display: flex

.header__cover-content
  max-width: 506px

.header__title
  color: #fff
  font-size: 45px
  line-height: 60px
  font-weight: 700

.title-descr
  color: #fff
  font-size: 24px
  line-height: 55px

.header__btn
  width: 200px
  height: 50px
  background-color: #FFCA00
  font-family: "Source Sans 3", sans-serif
  font-optical-sizing: auto
  font-style: normal
  font-size: 15px
  line-height: 24px
  color: #250F8A
  text-transform: uppercase
  font-weight: 600
  border: none
  border-radius: 25px
  margin-top: 60px
  cursor: pointer
  transition: all 0.3s

.header__btn:hover
  width: 250px
  height: 65px

.header__slider
  margin-left: 66px
  max-width: 628px

.header__slider-icon 
  max-width: 516px

.header__slider-dots
  list-style: none
  position: absolute
  right: 0
  top: 20%
  button
    border: none
    background-color: #fff
    opacity: 0.5
    font-size: 0
    border-radius: 3.5px
    padding: 0
    width: 7px
    height: 7px
    cursor: pointer
    outline: none
    margin: 10px auto
    display: block
  .slick-active
    button
      opacity: 1
      width: 15px

.specialised
  padding-bottom: 93px
  background-image: url(../images/specialised-bg.svg)
  background-position: left 0 top 9px
  background-repeat: no-repeat
  text-align: center

.title 
  font-size: 35px
  line-height: 45px
  font-weight: 700
  color: #202020

.specialised__cards
  display: flex
  max-width: 980px
  justify-content: space-between
  margin: 96px auto 0

.specialised__card 
  text-align: center
  width: 280px
  height: 280px
  
.specialised__card-img 
  margin-bottom: 23px
  height: 158px

.specialised__card-title 
  margin-bottom: 10px
  font-size: 20px
  line-height: 24px
  font-weight: 700

.specialised__card-text
  opacity: 0.7

.work 
  padding: 58px
  background-color: #F4F9FD
  background-image: url(../images/work-bg.svg)
  background-position: right
  background-repeat: no-repeat

.work__card 
  display: flex
  margin-bottom: 55px
  justify-content: space-between

.work__title
  margin-bottom: 30px

.work__content 
  display: flex
  flex-direction: column
  justify-content: center
  max-width: 460px
  padding-left: 50px
  background-repeat: no-repeat

.work__card:nth-child(2n)
  .work__img
    order: 1
  .work__content
    order: 2

.work__card:nth-child(3n+1)
  .work__content
    background-image: url(../images/work-title-1.svg)
    background-position: left 25px top 80px

.work__card:nth-child(3n+2)
  .work__content
    background-image: url(../images/work-title-2.svg)
    background-position: left 30px top 100px

.work__card:nth-child(3n+3)
  .work__content
    background-image: url(../images/work-title-3.svg)
    background-position: left 10px top 120px


.work__text
  margin-bottom: 20px
  opacity: 0.7